body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.section-padding {
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/donation5.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    opacity: 1.5;

}

.top-banner-content {
    text-align: center;
    color: white;
}

.top-banner-content h1 {
    font-size: 60px;
}

.top-banner-content p {
    margin-bottom: 40px;
}

.link-btn {
    text-decoration: none;
    background-color: #FF5959;
    padding: 12px 30px;
    color: aliceblue;
    border-radius: 5px;

}

.donate-count {
    text-align: center;
}

.donate-count h2 {
    font-weight: 700;
    font-size: 40px;
}

.donate-tk {
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px;
    margin-top: 50px;
}

.donate-tk-single {
    background-color: #FAFAFA;
    padding: 25px 35px;
    color: #707070;
}

.donate-input {
    margin-bottom: 50px;
}

.donate-input input {
    border: none;
    outline: 5px;
    border-bottom: 1px solid #DADADA;
    width: 600px;
    margin-top: 50px;
    padding: 5px 0;

}

.donate-input input::placeholder {
    text-align: center;
    color: #DADADA;
}